<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">

<head th:replace="base :: baseheader">
    <title>My Cart</title>
</head>

<body>
<div th:replace="base :: navlinks"></div>
<div class="container">
    <div class="col-md-6 col-sm-12 <!--ftco-animate-->">
        <h1 class="mb-4">Product(s) In Cart</h1>
        <!--                TODO-->
        <a th:href="@{/order}">
            <button type="submit" id="js-placeOrder" class="btn btn-light"> Place Order</button>
        </a>
        <span>
                <a class="btn btn-light" th:href="@{/product/emptycart}"> Empty MyCart </a>
            </span>
        <div th:unless ="${cc.isEmpty()}">
        <table class="table .table-bordered">
            <tr>
                <th> Product Code</th>
                <th> Product Name</th>
                <th> Product Vendor</th>
                <th> Price</th>
                <th> Quantity</th>
                <th> Total Price</th>
                <th> Delivery Date</th>
                <th> Delivery Time</th>
            </tr>
            <tr th:if="${cc.isEmpty()}"> You don't have items in your cart</tr>
            <tr th:each="c: ${cc}">
                <td>[[${c.productCode}]]</td>
                <td>[[${c.productName}]]</td>
                <td>[[${c.productVendor}]]</td>
                <td>$[[${c.buyPrice}]]</td>
                <td>[[${c.itemsQuantity}]]</td>
                <td>$[[${c.totalPrice}]]</td>
                <td>[[${c.deliveryDate}]]</td>
                <td>[[${c.deliveryTime}]]</td>
                <td>
                    <a class="btn btn-light"
                       th:href="@{/product/cart/more/{productcode}(productcode=${c.productCode})}">More(+)
                    </a>
                </td>
                <td>
                    <a class="btn btn-light"
                       th:href="@{/product/cart/reduce/{productcode}(productcode=${c.productCode})}">Reduce(-)</a>
                </td>
                <td>
                    <a class="btn btn-light"
                       th:href="@{/product/cart/remove/{productcode}(productcode=${c.productCode})}">Remove</a>
                </td>
            </tr>
        </table>
        </div>
    </div>
</div>
<div th:replace="base::footer"></div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>

</html>