<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="en">
<head th:replace="base :: baseheader">
    <title>Product List</title>
</head>
<body th:background-color="red">
<div th:replace="base :: navlinks"></div>
<div class="container">
    <h1 class="mb-4">Product List</h1>
        <table class=" display table">
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Finalize your orders </th>
        </tr>
        <tr th:each="p: ${products}">
            <td>[[${p.productName}]]</td>
            <td>[[${p.productCode}]]</td>
            <td>[[${p.quantityInStock}]]</td>
            <td>[[${p.buyPrice}]]</td>
            <td>
                <a class="btn btn-light"
                   th:href="@{/product/detail/{productcode}(productcode=${p.productCode})}"><i class="bi bi-ticket-detailed"></i></a>
            </td>
            <td sec:authorize="isAuthenticated()">
                <a class="btn btn-light"
                 th:href="@{/product/cart/{productcode}(productcode=${p.productCode})}"><i class="bi bi-cart3"></i></a>
            </td>


        </tr>
    </table>


    <nav aria-label="Pagination" th:if="${products.totalPages gt 0}">
        <ul class="pagination justify-content-center font-weight-bold">
            <li class="page-item" th:classappend="${products.number eq 0} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/product/?page={id}(id=${products.number lt 2 ? 1 : products.number})}"
                   aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${i eq products.number + 1} ? 'active'"
                th:each="i : ${#numbers.sequence( 1, products.totalPages, 1)}">
                <a class="page-link" th:href="@{/product/?page={id}(id=${i})}" th:text="${i}"
                   th:title="${'Page '+ i}" data-toggle="tooltip"></a>
            </li>
            <li class="page-item" th:classappend="${products.number + 1 eq products.totalPages} ? 'disabled'">
                <a class="page-link" th:href="@{/product/?page={id}(id=${products.number + 2})}" aria-label="Next"
                   title="Next Page" data-toggle="tooltip">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div th:replace="base :: footer "></div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"  th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>